.events-container{
	display: grid;
	width: 40%;
	height: 100%;
/*	background-color: black;
	color: white;*/
}

.selected-day-container{
	height: 250px;
	font-size: 7rem;
	font-weight: 100;
	background-color: olive;
	color: white;
	height: 80%;
	padding: 10px;
	width: 40%;
	margin-left: auto;
}

.no-events{
	font-size: 25px;
	margin-left: auto;
	margin-top: 15px;
}

.eventlist-container{

}

.display-block{
	display: block;
}

.display-none{
	display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.buttonClose{
	margin-left: auto;
	font-size: 20px;
	color: white;
	background-color: red;
}

.event-link{
	text-align: center;
	padding: 10px;
	font-size: 24px;
	text-decoration: none;
	color: olive;
	display: flex;
	margin-left: 50px;

}

