*{
	font-family: sans-serif;
}

.header{
	text-align: center;
	width: 50%;
	margin-right: auto;
}

.container{
	width: 80%;
	margin: auto;
}

.middle-component{
	display: flex;
}

.calendar-container{
	display: grid;
	width: 60%;
	margin: auto;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: repeat(7, minmax(auto, 1fr));
	grid-gap: 10px;
}

.calendar-container h1{
	font-size: 20px;
}

.calendar-container div{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}

.today{
	background-color: yellow;
}

.events-container{
	width: 20%;
	margin: auto;
}